@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");

/* si abres con una comilla termina con una comilla y si es doble pues con doble */
/* font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif; */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing: border-box;

}
:root{
    /* nos podemos inventar el nombre pero no los guiones, no empezar por números */
     /* puedo poner la palabra del root */
    /* font-family:'Montserrat', sans-serif;  */
    --color-principal:#fa573a ;
    --color-secundario:#21242e;
    --fuentePrincipal:'Montserrat', sans-serif;
    --fuenteSecundario: 'Handlee', cursive;
    --anchomaximo:1100px;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}

img{
    width:100%;
    height: auto;
    display: block;
}
.container{
max-width: var(--anchomaximo);
   margin: 0 auto;
}
.flex{
    display: flex;
}
/*inicio header*/
header .nav_top{
    background-color: var(--color-secundario);
    padding: 20px 10px;
}
header .nav_top{
    color:white;
    text-decoration: none;
    font-size: 120%;
}
 header .nav_top a span{
     display: none;
 }
 header .nav_top .flex{
     justify-content: space-between;

 }
header .nav_top i{
color: var(--color-principal)
 }
header nav{
    padding:20px;
}
header .logo{
    max-width: 110px;
}
header .hamburguesa{
    cursor: pointer;
    

}
header .hamburguesa div{
    border-top: 2px solid #aaa;
    margin: 10px;
    width: 50px;
}
header nav .flex{
    flex-wrap: wrap;
    justify-content: space-between;

}
/* header nav .ul repasar puntos, espacios y comas */
header nav ul{
    width: 100%;

}
header nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border-bottom: 1px solid #aaaaaa;
    color: #aaa;
    transition: 1s;
}
header nav ul li .activo{
    color:var(--color-principal);
}
header nav ul li a:hover{
    color:var(--color-principal)
}


/*fin de header*/
/*inicio footer*/
footer{
    background-color: var(--color-secundario);
    padding: 1.250em 0.625em;
    text-align: center;
    position:fixed;
    bottom:0;
    width: 100%;

   
}

footer p, footer a {
    color:#fff;

}
footer a:hover{
    text-decoration: none;

}
/*fin de footer*/
/* tablet */
@media(min-width: 48.000em) {
    /* hacer aparecer el texto */
    header .nav_top a span{
        display: inline; 
    }
    footer {
        text-align: left;

        }
    }
 /* desktop          */
@media (min-width:62.750em){

    header .hamburguesa{
        display: none;

    }
    header nav ul{
        width: auto;
        display: flex;
    }
    header nav ul li a {
        padding:5px 20px;
        border-bottom: 0px;

    }

}
/* Inicio Hero */

.hero{
    background: url("../img/fondo.jpg");
    height:50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #777777;
    background-blend-mode: multiply;
/* jugar con esta opción */
/* */
display: flex;
align-items: center;
}
.hero .container{
    /*  */
 
    width:90%;
}
.hero h1 {
    font-family: var(--fuenteSecundario);
    font-size: 2.5em;
    color: white;

}
.hero h2{
    color: var(--color-principal);
    font-size: 1.5em;
    margin: 1em 0;
}

.hero p{
    font-size: 1.15em;
    color: white;

}

.boton {
    display:inline-block;
    background-color: var(--color-principal);
    color:white;
    padding: 1.15em;
    text-decoration: none;
    margin: 1em 0;
    border: 1px solid var(--color-principal) 
    /* truco de vieja gloria */

}
.boton:hover{
    background-color: transparent;
    color:var(--color-principal)
}
/* puedo poner all y afectaria a todos los i */
.boton i {
    transition: tranform 0.5s;
}
.boton:hover{
    transform: translateX(5px);
}
.hero .RRSS li{
    display: inline-block;
    font-size:2em;
    margin-right: 1em;

}
.hero .RRSS li{
    color: white;
    text-decoration:none;    
}

/* Fin Hero */
/* Inicio MAIN */
/* Inicio seccion our service */
main{
    margin-bottom: 90px;
    


}
main section{
    padding: 2.125em 0;
    
}

main section h2{
    color: black;
    font-family: var(--fuenteSecundario);
    font-size: 2em;
    text-align: center;
}
/* me dice que es el color primario */
main section h2 span {
    color: var(--color-principal);

}
/* jugar con las posiciones, nevesitamos cambio de eje */
main section .underline{
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: bold;
    /* para separarlo de los elementos */
    margin-bottom:2em;
    text-align: center;
}
main section .underline hr {
    color: var(--color-principal);
    position: absolute;
    width: 100%;
    top:-0.63em;
}
main #ourservices .flex{
    flex-wrap: wrap;
    padding: 0 0.825em;
}
main #ourservices .flex article {
    widows: 100%;
    padding:1.825em 0;
    border-bottom:1px solid color #fff;
}
main #ourservices .flex article div i {
    color: var(--color-principal);
    font-size:2em;
    padding:0.825em;
    border:2px solid var(--color-principal)
}
main #ourservices .flex article div .fa-truck{
    transform: rotateY(180deg);

}
main #ourservices .flex article h3 {
    font-weight: 700;
    margin:1em 0;

}
.enlace {
    text-decoration:none;
    margin-top: 1em 0;
    display: block;
    color: var(--color-principal);
}
/* Cierre MAIN */
/* punto de corte en :  buscamos la regla que le da el 100%*/

@media(min-width: 48.000em){
    main #ourservices .flex article {
        widows: 50%;
        padding:1.825em 0;
        border-bottom: 0px;
        border-left: 1em;
        margin-bottom: 1em;

    }
    /* que miden los articulos miden 50% y el ultimo que tenga 100% tener cuidado porque luego para volver al 33 tengo que sobreescribir esta regla ya que es muy especifica. */

    main #ourservices .flex article:last-child {
        width: 100%;
    }
}

@media(min-width: 62.750em) {
     main #ourservices .flex article:last-child {
        width: 100%;
    }
}
/* width: 33,33%; */
/* border bottom no hace falta porque ya heredamos de la otra media */
/* inicio  seccion aur service */
/* inicio seccion ABOUT US */
/* para elegir el ancho de la columna */
main #aboutus .flex {
    flex-direction: column;
}
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
/* paso de un sistema flexible a un sistem a de columna */
/* paso de un sistema flexible a un sistema de filas */
/* lo que queda a la derecha hacemos column reverse para tener el texto enciam de la foto sobretodo pata movil */

main #aboutus .flex .columna {
    padding:0.825em;
}
main #aboutus .flex .columna h3{
    font-weight: 700;
}
main #aboutus .flex .columna h4{
    color: var(--color-principal);
    margin: 1em 0;
}
main #aboutus .marco{
    border: 3px solid var(--color-principal);
    transform: rotateZ(10deg);
    width: 90%;
    margin :0 auto;
}
main #aboutus .marco img{
    transform: rotateZ(-10deg);
    transition: .5s;
}
main #aboutus .columna:hover .marco, main #aboutus .columna:hover img{
    transform: rotateZ(0deg);

} 
/* esto efecto en el movil no se ve, solo en table y desktop */


@media ( min-width :48.000em) {
    main #aboutus .flex {
        flex-direction: row;
    }

}
 /* podemos poner tambien una variable si lo repetimos mucho */







/* fin seccion ABOUT US */
/* Cierre MAIN */